*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

header{
    border-bottom: 1px solid black; 
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    background-color: white;
    box-shadow: #1b357e 0px 0px 10px;    
    color: #1b357e;
}

#logoFord1{
    width: 10%;
}

.menu{
    display: flex;
    font-size: 140%;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    align-items: center;

}

#lancamento{
    border-top: 2px #1b357e solid;
    pointer-events: none;
}

#home:hover{
    transition: 0s;
    border-top: 2px solid #1b357e;
}

#contato:hover{
    transition: 0s;
    border-top: 2px solid #1b357e;
}

#juncao{
    width: 10%;
}

/* main */

main{
    flex: 1;
    display: flex;
    margin-bottom: 3%;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}

#secao_video{
    border: none;
    margin: 0;
    width: 100%;
    height: 20vw;
}

#videoRanger{
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

#imagens_e_Texto{
    width: 100%;    
}

.carrosAmostra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;    
}

#CarroVenda{
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.fotos_Carros{
    width: 80%;
}

.Descricao{
    color:rgb(19, 81, 216);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

h4{
     color: rgb(16, 16, 232);
}

.caixaPerguntaCarros{
   transform: scale(1.5);
}
#CompararPreço{
    border:solid rgb(16, 16, 232);
    border-radius: 8%;
    background-color: rgb(16, 16, 232);
    color: white;
    padding:1em;
    
}

#botão_Submit{
    height: 0;
}

/* footer */
footer{
    background-color: #1b357e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.redesSociais{
    display: flex;
    align-items: center;
}
