*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

/* header */
header{
    padding-left: 1%;
    border-bottom: 1px solid  #1b357e; 
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    top: 0%;
    position: fixed;
    background-color: white;
    box-shadow:  #1b357e 0px 0px 10px;
    color: #1351d8;
    
}
#logoFord1{
    width: 10%;

}
.itensMenu{
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    gap: 5%;
    color: #1b357e;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    width: 50%;

}
#home{
    border-top: 2px solid #1b357e;
    pointer-events: none;
}

#lancamento:hover{
    transition: 0s;
    border-top: 2px solid #1b357e;
    transform: scale(1.2);
}
#lancamento:active{
    color:#1351d8 ;
}

#contato:hover{
    transition: 0s;
    border-top: 2px solid #1b357e;
    transform: scale(1.2);
}
#contato:active{
    color: #1351d8;
}
#juncao{
    width: 10%;
}

/* main */
main{
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    height: 100vh;

}
#Carro1{
   width: 100%; 
}
#separacao{
min-width: 60%;
text-align: center;
color: #1b357e;

}
#textoimagem{
    display: flex;
    align-items: center;
    font-size: 90%;
    padding-right: 3%;
    padding-left: 3%;
}
#textoDaFord{
     font-size: 90%;
     flex-grow: 1;
     overflow-wrap:break-word;
     color: #1b357e;
     text-align: justify;
     padding-left: 2%;
}
#infoCarro{
    font-size: 90%;
}
/* footer */
footer{
    background-color: #1b357e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0%;
   
    width: 100%;
    color: white;
}

.redesSociais{
    display: flex;
    align-items: center;
    gap: 2%;
    
}
.Rede_Transferencia{
    width: 15%;

}
#Redes_Sociais{
    font-size: 100%;
}
.Rede_Transferencia:hover{
    opacity: 0.5;
    transform:scale(0.9);
}
.redeSocial{
    width: 100%;
    align-items: center;
}
#LogoFord2{
    padding: 0.2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logoFord3{
    align-items: center;
    width: 90%;
}
@media (max-width: 768px) {
    #Redes_Sociais{
     font-size: 0.8rem;
    }
        .itensMenu{
        font-size: 0.8em;
    }
    #textoimagem{
        flex-direction: column;
    }
    #separacao{
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 300px) {
    .itensMenu{
        font-size: 0.5em;
    }
    
}

@media screen and (max-width: 550px) {
    #logoFord1{
        width: 17% ;
    }

    
}
@media screen and (max-width: 600px) {
#info-box{
    width: 100vw;
}
}
@media screen and (max-height: 650px) {
    .info-box{
        top: 10% ;
        left: 50% ;
        width: 100%;

    }
}
@media screen and (max-height: 620px) {
    .info-box{
        top: 8%;
    }
    
}
@media screen and (max-height: 640px) {
    main{
       padding-top: 29%;
       padding-bottom: 9%;
    }

}
@media screen and (max-height: 320px) and (max-width: 240px) {
    main{
        width: 100vw;
        height: 100vh;
        flex:1;
        padding-top:125vh;
        padding-bottom: 80vh ;
    }

    footer{
        position: fixed;

    }
    
}